/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 21:03:00
    Author     : flavio
*/

.draggableWindow {
    margin: 0;
    padding:0;
    position:fixed;
    display:none;
    min-width: 200px;
    width: auto;
    height: auto;
    min-height: 60px;
    z-index: 100;
    border: thin solid rgba(100,100,100,0.3);
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    
    background: #F1F1F1;
    pointer-events: auto;
    overflow: hidden;
}

.draggableMenu {
    clear:both;
    position:relative;
    display: block; 
    margin: 0;
    padding: 0;
    top:0; 
    left:0; 
    width:auto; 
    height:auto; 
    pointer-events: auto;
    overflow: hidden;
}

.draggableToolBar {
    clear: both;
    position: relative;
    display:block;
    margin: 0;
    padding: 1px;
    width: auto;
    height: auto; 
    pointer-events: auto;
    overflow: hidden;
    background: lightblue;
    background-color: #EBEBEB;
    background: #e9edf0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}

.draggableData {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.withStatusBar  {
    padding-bottom: 18px;
}

.dTitle {
  top: 0;
  display:block;
  padding: 0; 
  padding-top: 1px; 
  height: auto;
  text-align: left;
  font-family: subMenuFont, sans-serif;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  background-color: transparent;
}

.dButton {
  font-family: "abcx-window-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  float:left;
  background: none;
  color: #FFFFFF;
  display:block;
  text-align: center;
  height: auto;
  top:0;
  margin:0;
  padding: 3px;
  padding-left: 10px;
  padding-right: 8px;
  
}

.dButton:hover { background-color: #D4482D; }
.dButton > a { color: white; text-decoration: none; }
.dButton > a:hover { text-decoration: none; }

.draggableStatus {
    position: absolute;
    bottom: 0;
    left:0;
    height: 18px;
    width: 100%;
    background-color:rgb(160,160,160);
    background-color: #EBEBEB;
    background: #e9edf0;
    color: white;
    border-top: 1px solid rgba(100,100,100,0.5);
   /* border-bottom-right-radius: 4px;*/
}

.draggableStatusResize {
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 18px;
}

.customScrollBar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.customScrollBar::-webkit-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.customScrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(255,0,0,0.8);
  background-color: rgba(255, 153, 34,0.8);
  outline: 1px solid slategrey;
} 