.dropdown-group {
    width: auto;
}

.btn-group {
    width: auto;
    margin-top: 2px;
}

.btn-group button,
.dropdown-group button {
    position: relative;
    display: block;
    float:left;
    font-family: 'titleFont3','Arial';
    text-align: left;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.1em;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 0;
    padding-top: 2px;
    padding-left:4px;
    padding-right: 4px;
    width: auto;
    height: 26px;
    text-align: left;
    outline: none !important;
    border: none;
    color: #dab390;
    background-color: transparent;
}

.btn-group button:hover,
.dropdown-group  button:hover {
    background:  lavender;
    cursor: pointer;
}

.btn-group button::-moz-focus-inner,
.dropdown-group  button::-moz-focus-inner {
  border: 0;
}

.dropdown-title-font {
    font-family: 'Lucida','Sans','Arial';
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: darkred;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.dropdown [data-toggle="toggle"] {
    float:right;
    position:  relative;
    display: block;
    top: 1px;
    right: 0px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown-menu-font {
    font-family: 'titleFont3','Arial';
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1em;
    color: white;
    background: #2c3e50;
    text-align: left;
    /*text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);*/
}

.dropdown-menu {
    z-index: 11;
    max-height: 0;
    position:absolute;
    display:  block;
    top:100%;
    left: 0px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 8px;
    min-width: fit-content;
    overflow-y: scroll;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -ms-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu hr {
    margin: 2px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #fff;
}

.dropdown-menu li a {
    padding: 8px;
    display:  block;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: none;
}

.dropdown-menu li:hover {
    background: #f6f6f6;
    background: lightblue;
}

.dropdown > input[type="checkbox"] {
    display: none;
}

.dropdown > input[type="checkbox"]:checked  ~ button > [data-toggle="toggle"] {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown > input[type="checkbox"]:checked  ~ [data-toggle="toggle-menu"] {
    max-height: 250px;
    display:  block;
    top:100%;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 8px;
    overflow-y: scroll;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
