
.icon-globe-1:before { content: '\e800'; } /* '' */
.icon-globe-alt:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-down-open-big:before { content: '\e804'; } /* '' */
.icon-down-dir-1:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e80b'; } /* '' */
.icon-to-end:before { content: '\e80c'; } /* '' */
.icon-to-end-alt:before { content: '\e80d'; } /* '' */
.icon-ccw:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e810'; } /* '' */
.icon-folder-open-1:before { content: '\e811'; } /* '' */
.icon-cog-alt:before { content: '\e812'; } /* '' */
.icon-flash:before { content: '\e813'; } /* '' */
.icon-fast-fw:before { content: '\e814'; } /* '' */
.icon-eject:before { content: '\e815'; } /* '' */
.icon-cog:before { content: '\e816'; } /* '' */
.icon-music:before { content: '\e817'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-minus:before { content: '\e819'; } /* '' */
.icon-loop:before { content: '\e81a'; } /* '' */
.icon-zoom-in:before { content: '\e81b'; } /* '' */
.icon-move:before { content: '\e81c'; } /* '' */
.icon-zoom-in-1:before { content: '\e81d'; } /* '' */
.icon-retweet:before { content: '\e81e'; } /* '' */
.icon-zoom-out:before { content: '\e81f'; } /* '' */
.icon-folder-close:before { content: '\e820'; } /* '' */
.icon-folder-open-2:before { content: '\e821'; } /* '' */
.icon-down:before { content: '\e822'; } /* '' */
.icon-up:before { content: '\e823'; } /* '' */
.icon-inbox:before { content: '\e824'; } /* '' */
.icon-download:before { content: '\e825'; } /* '' */
.icon-upload:before { content: '\e826'; } /* '' */
.icon-forward:before { content: '\e827'; } /* '' */
.icon-flash-1:before { content: '\e828'; } /* '' */
.icon-college:before { content: '\e829'; } /* '' */
.icon-headphones:before { content: '\e82a'; } /* '' */
.icon-home:before { content: '\e82b'; } /* '' */
.icon-home-outline:before { content: '\e82c'; } /* '' */
.icon-floppy:before { content: '\e82d'; } /* '' */
.icon-download-1:before { content: '\e82e'; } /* '' */
.icon-upload-1:before { content: '\e82f'; } /* '' */
.icon-retweet-2:before { content: '\e830'; } /* '' */
.icon-retweet-3:before { content: '\e831'; } /* '' */
.icon-plus-squared:before { content: '\e832'; } /* '' */
.icon-minus-squared:before { content: '\e833'; } /* '' */
.icon-cancel-squared:before { content: '\e834'; } /* '' */
.icon-mail:before { content: '\e835'; } /* '' */
.icon-up-thin:before { content: '\e836'; } /* '' */
.icon-down-thin:before { content: '\e837'; } /* '' */
.icon-globe-2:before { content: '\f018'; } /* '' */
.icon-retweet-1:before { content: '\f02b'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty-1:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */