@font-face {
  font-family: 'abcx';
  src: url('../font/abcx.ttf?87747855') format('truetype'),
       url('../font/abcx.svg?87747855#abcx') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'abcx';
    src: url('../font/abcx.svg?87747855#abcx') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "abcx";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  
  speak: none;
 
  display: inline-block;
  
  text-decoration: inherit;
  text-align: center;
  
  width: 1em;
  line-height: 1em;
  margin-top: 2px;
  margin-left: 0;
  margin-right: .2em;
  
  /* opacity: .8; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
   text-shadow: 1px 1px 1px rgba(180, 180, 180, 0.8); 
}
 
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-learning:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-move:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e806'; } /* '' */
.icon-folder-1:before { content: '\e807'; } /* '' */
.icon-folder-open-1:before { content: '\e808'; } /* '' */
.icon-rotate:before { content: '\e809'; } /* '' */
.icon-rotate-1:before { content: '\e80a'; } /* '' */
.icon-download-1:before { content: '\e80b'; } /* '' */
.icon-upload-1:before { content: '\e80c'; } /* '' */
.icon-expand:before { content: '\e80d'; } /* '' */
.icon-compress:before { content: '\e80e'; } /* '' */
.icon-stop:before { content: '\e80f'; } /* '' */
.icon-play:before { content: '\e810'; } /* '' */
.icon-pause:before { content: '\e811'; } /* '' */
.icon-step-forward:before { content: '\e812'; } /* '' */
.icon-step-backward:before { content: '\e813'; } /* '' */
.icon-fast-backward:before { content: '\e814'; } /* '' */
.icon-fast-forward:before { content: '\e815'; } /* '' */
.icon-forward:before { content: '\e816'; } /* '' */
.icon-backward:before { content: '\e817'; } /* '' */
.icon-long-arrow-down:before { content: '\e818'; } /* '' */
.icon-long-arrow-up:before { content: '\e819'; } /* '' */
.icon-undo-all:before { content: '\e81a'; } /* '' */
.icon-undo:before { content: '\e81b'; } /* '' */
.icon-redo:before { content: '\e81c'; } /* '' */
.icon-refresh:before { content: '\e81d'; } /* '' */
.icon-home-1:before { content: '\e81f'; } /* '' */
.icon-down-2:before { content: '\e820'; } /* '' */
.icon-down-3:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-search-1:before { content: '\e823'; } /* '' */
.icon-wrench:before { content: '\e824'; } /* '' */
.icon-down:before { content: '\e825'; } /* '' */
.icon-lightbulb:before { content: '\e826'; } /* '' */
.icon-lightbulb-1:before { content: '\e827'; } /* '' */
.icon-printer:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e829'; } /* '' */
.icon-cogs:before { content: '\e82a'; } /* '' */
.icon-bolt:before { content: '\e82b'; } /* '' */
.icon-find-1:before { content: '\e82c'; } /* '' */
.icon-external-link:before { content: '\e82d'; } /* '' */
.icon-home:before { content: '\e82e'; } /* '' */
.icon-search-minus:before { content: '\e82f'; } /* '' */
.icon-search-plus:before { content: '\e830'; } /* '' */
.icon-arrow-down-left:before { content: '\e833'; } /* '' */
.icon-e-mail:before { content: '\e834'; } /* '' */
.icon-upload:before { content: '\e835'; } /* '' */
.icon-minus:before { content: '\e836'; } /* '' */
.icon-close-1:before { content: '\e837'; } /* '' */
.icon-arrow-expand:before { content: '\e838'; } /* '' */
.icon-arrow-shrink:before { content: '\e839'; } /* '' */
.icon-headphones-1:before { content: '\e83a'; } /* '' */
.icon-globe-1:before { content: '\e83b'; } /* '' */
.icon-download:before { content: '\e83c'; } /* '' */
.icon-arrow-down:before { content: '\e83d'; } /* '' */
.icon-arrow-up:before { content: '\e83e'; } /* '' */
.icon-music:before { content: '\e83f'; } /* '' */
.icon-eject:before { content: '\e840'; } /* '' */
.icon-repeat-cw:before { content: '\e841'; } /* '' */
.icon-repeat-ccw:before { content: '\e842'; } /* '' */
.icon-bolt-2:before { content: '\e843'; } /* '' */
.icon-move-2:before { content: '\e844'; } /* '' */
.icon-lightbulb-2:before { content: '\f0eb'; } /* '' */


.icon-large {
  font-size: 200%;
}

.icon-black {
    color: black;
}

.icon-lightgreen {
    color: lightgreen;
}

.icon-lightgoldenrodyellow {
    color: lightgoldenrodyellow;
}

.icon-lightblue {
    color: lightblue;
}

.icon-diatonic-green {
    color: #5ba4a4;
}

