/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2017, 17:29:52
    Author     : flavio
*/

.tabs {
    position: relative;
    display: block;
    float:  bottom;
    top: 75px;
    margin-top:4px;
    margin-left:4px;
    width: fit-content;
    min-width: 640px;
}

.tabs input {
    position: absolute;
    display: inline;
    z-index: 100;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tabs input#tab-2{
    left: 120px;
}
.tabs input#tab-3{
    left: 240px;
}

.tabs label {
    /*
    background: #5ba4a4;
    background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
    background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
    */
    background: lavender;
  

    font-family: 'titleFont3';
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 20px;
    float: left;
    display: block;
    width: auto;
    color: #385c5b;
    color: orange;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
}

.tabs input:hover + label {
    background: #5ba4a4;
    background: darkblue;
    cursor: pointer;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-1 {
    z-index: 3;
}

.tab-label-2 {
    z-index: 2;
}

.tab-label-3 {
    z-index: 1;
}

.tabs input:checked + label {
    background: -moz-linear-gradient(left, darkblue 0%, black 100%);
    background: -webkit-linear-gradient(left, darkblue 0%, black 100%);
    background: -o-linear-gradient(left, darkblue 0%, black 100%);
    background: -ms-linear-gradient(left, darkblue 0%, black 100%);
    background: linear-gradient(left, darkblue 0%, black 100%);
    z-index: 5;
}

.clear-shadow {
    clear: both;
}

.tv-content {
    background: #fff;
    position: relative;
    min-width: 400px;
    min-height: 200px;
    height: 300px;
    width: 620px;
    z-index: 0;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.tv-content div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .tv-content .tv-content-1,
.tabs input.tab-selector-2:checked ~ .tv-content .tv-content-2,
.tabs input.tab-selector-3:checked ~ .tv-content .tv-content-3 {
    z-index: 10;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.tv-content div h2,
.tv-content div h3{
    color: #398080;
}
.tv-content div p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #777;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    border-left: 8px solid rgba(63,148,148, 0.1);
}