
.icon-popup:before { content: '\e800'; } /* '' */
.icon-popup-1:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\e803'; } /* '' */
.icon-lightbulb:before { content: '\e804'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */